.registration-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#regist-form{
    margin-bottom: 25px;
}


#regist-form input{
    margin: 0 auto;
    width: 100%;
}

#msg-regist{
    margin: 0 auto;
    text-align: center;
}

#password-input{

}

#password-div{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
     
}

#password-div ul{
    margin-top: 0;
    background-color: var(--subdiv-color);
    padding: 2%;
    border-radius: 15px;
    border: 2px solid white;
    margin-bottom: 25px;
    
   
}

#password-div ul li{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 15px;
    margin: 0;
}

#password-div ul, #pw-msg{
    width: 100%;
    text-align: center;
}

@media(max-width: 430px){
    #regist-form h1{
    font-size: 2rem;
}
}