:root {
    --background-color: rgb(95, 29, 95);
    --maindiv-color: rgb(139, 68, 139);
    --subdiv-color: rgb(146, 109, 146);
    --button-color: rgb(43, 129, 160);
}


#vehicle-list {
    min-height: 100px;
    background-color: var(--background-color);

}

#vehicles-header-div{
    display: flex;
    justify-content: space-between;
}


#cars-container{
    background-color: var(--background-color);
}

.more-data-div {
    background-color: var(--maindiv-color);
    display: flex;
    gap: 10px;
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}

.vehicle-options{
    font-weight: 800;
}

.link-button{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}