#greeting{
    position: absolute;
    top: 20px;
    left: 20px;
}

#cars-container{
    width: 70%;
    height: 500px;
    position: absolute;
    top: 100px;
    border: 1px solid white;
}

#cars-container h3{
    margin-bottom: 5px;
}


/*=====RESPONSIVE=====*/
@media(max-width: 800px){
    #cars-container{
        width: 90%;
    }
}