:root {
    --background-color: rgb(95, 29, 95);
    --maindiv-color: rgb(139, 68, 139);
    --subdiv-color: rgb(150, 75, 150);
    --button-color: rgb(43, 129, 160);
}


.content-div{
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
}

.profile-div h1{
    margin-left: 25px;
    padding-top: 100px;
    margin-bottom: 50px;
}

.details-div{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#profile-details{
    width: 70%;
    margin: 0 auto;
    background-color: var(--maindiv-color);
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 15px;
    margin-bottom: 100px;
}

#profile-details summary{
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
}

.details-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--maindiv-color);
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    justify-content: center;
}

.details-content input{
    width: 90%;
    margin: 0 auto;
}

#hard-delete-button{
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    cursor: not-allowed;
    margin-bottom: 25px;
}

#hard-delete-button:hover{
    transition: all ease-in-out 200ms;
    opacity: 1;
    
}

.profile-button{
    width: 250px;
    margin: 0 auto;
    
}

.show-profile{
    max-width: 330px;
    text-align: center;
    margin-left: 0;
}

#logout-div{
    width: 70%;
    margin: 0 auto;
}



#logout-button{
    padding: 5px 0;
    width: 173px;
    
}

#profile-msg{
    margin-bottom: 25px;
}

#logout-msg{
    position: fixed;
    inset: 0;
    background-color: var(--maindiv-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}

#inactive-msg{
    position: fixed;
    inset: 0;
    background-color: var(--maindiv-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
}

@media(max-width: 1200px){
    .profile-button{
        
    }

    #profile-details{
        width: 90%;
    }
}

@media(max-width: 900px){
    .details-content{
    width: 100%;
}

}

@media(max-width: 500px){
    
    
    .profile-button{
       max-width: 90%;
    }
}


