.protected-div{
    display: flex;
    flex-direction: column;
    
}

#greeting-div{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--maindiv-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#greeting{
    margin-left: 25px;
}

.profile-link{
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#cars-container{
    width: 70%;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    
    
}

#cars-container h3{
    margin-bottom: 5px;
}


/*=====RESPONSIVE=====*/
@media(max-width: 800px){
    #cars-container{
        width: 90%;
    }
}