:root {
    --background-color: rgb(95, 29, 95);
    --maindiv-color: rgb(139, 68, 139);
    --subdiv-color: rgb(109, 65, 109);
    --button-color: rgb(43, 129, 160);
}

.landing-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.body-sub{
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#preview-div{
    background-color: var(--maindiv-color);
    flex-direction: column;
}

#preview-div h1{
    width: 30%;
    min-width: 235px;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    padding: 1% 0;
}

ul{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

ul li{
    font-size: 1.3rem;
    font-weight: 600;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
}

#access-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-access-div{
    width: 20%;
    min-width: 200px;
    padding: 25px;
    margin-bottom: 25px;
    margin-top: 50px;
}

#login-data-div{
    margin-bottom: 50px;
}


.user-info-div h3{
    text-align: center;
}

.user-info-div p {
    text-align: center;
}

#info-div{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 1%;
    margin-bottom: 50px;
}

#legals-div{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1% 0;
}

.legal-link{
    margin-left: 25px;
}


/*=====RESPONSIVE=====*/
@media(max-width: 1200px){
    .landing-div{
        flex-direction: column;
    }

    #user-access-div{
        margin-top: 200px;
    }

    #login-data-div{
        margin-bottom: 200px;
    }
}

@media(max-width: 800px){
    .landing-div{
        flex-direction: column;
    }

    .body-sub{
        padding: 50px;
    }

    #info-div{
        min-width: 90%;
        padding: 2%;
    }
}

@media(max-width: 600px){
    #legals-div{
        display: flex;
        flex-direction: column;
        background-color: var(--maindiv-color);
        padding-top: 25px;

    }

    #legals-div a{
        margin: 0 auto;
        margin-bottom: 25px;
    }

    #login-data-div{
        margin-bottom: 400px;
    }
}

