:root {
  --background-color: rgb(95, 29, 95);
  --maindiv-color: rgb(139, 68, 139);
  --subdiv-color: rgb(146, 109, 146);
  --button-color: rgb(43, 129, 160);
}

.driversbook-div{
  display: flex;
  flex-direction: column;
}

.content-container {
   margin: 0 auto;
    margin-top: 100px;
    height: 700px;
    width: 80%;
    
}

#trips-header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

table {
  border-collapse: collapse;
  border-spacing: 5px;

}

thead {
  border-bottom: 10px solid var(--background-color);
}

th {
  background-color: var(--maindiv-color);
}

tbody tr:hover {
  transition: all ease-in-out 200ms;
  background-color: var(--subdiv-color);
}


td,
th {
  text-align: center;
  padding: 5px;
}



tbody tr td {
  border-bottom: 10px solid var(--background-color);
}

tr{
  cursor: pointer;
}

.trip-canceled {
    background-color: #aca5a5 !important; /* Hintergrund hellgrau */
    color: #db2727; 
    pointer-events: none; 
    opacity: 0.6;

}

.trip-canceled td{
      border-bottom: 2px solid var(--background-color) !important;
}

.trip-canceled td:hover{
  transition: all ease-in-out 200ms;
  opacity: 0.8;
}

@media(max-width: 1000px) {
  thead {
    display: none;
  }

  .table-div {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
  }

  table {
    border-spacing: 0;
  }


  table,
  tbody,
  tr,
  td {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: var(--maindiv-color);
   
  }

  td {
    position: relative;
    padding-left: 50%;
    text-align: left;
    margin: 0;
    border-bottom: none !important;
  }

  td::before {
    /*before because attribute shall be placed before data*/
    content: attr(data-label);
    /*read html attribute*/
    position: absolute;
    left: 10px;
    font-weight: bold;
    white-space: nowrap;
  }
}