:root {
    --background-color: rgb(95, 29, 95);
    --maindiv-color: rgb(139, 68, 139);
    --subdiv-color: rgb(150, 75, 150);
    --button-color: rgb(43, 129, 160);
}

.profile-div{

}

.profile-div h1{
    margin-left: 25px;
    padding-top: 100px;
    margin-bottom: 50px;
}

.details-div{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#profile-details{
    width: 70%;
    margin: 0 auto;
}

#profile-details summary{
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
}



.details-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--maindiv-color);
    width: 70%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
}

.details-content input{
    width: 90%;
    margin: 0 auto;
}

#hard-delete-button{
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
}

#hard-delete-button:hover{
    transition: all ease-in-out 200ms;
    opacity: 1;
    margin-bottom: 50px;
}

.profile-button{
    width: 30%;
    margin: 0 auto;
    
}

.show-profile{
    max-width: 330px;
    text-align: center;
    margin-left: 0;
}

#logout-div{
    width: 70%;
    margin: 0 auto;
}



#logout-button{
    padding: 5px 0;
    width: 173px;
    
}

#logout-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--maindiv-color);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}