.login-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login-form input{
    margin: 0 auto;
    width: 100%;
}

#msg-login{
    color: white;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
}

#login-check-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}