:root {
    --background-color: rgb(95, 29, 95);
    --maindiv-color: rgb(139, 68, 139);
    --subdiv-color: rgb(146, 109, 146);
    --button-color: rgb(43, 129, 160);
}


#vehicle-list {
    min-height: 100px;
    background-color: var(--background-color);

}

#vehicles-header-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}


#cars-container{
    background-color: var(--background-color);
}

.more-data-div {
    display: flex;
    gap: 10px;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    border-radius: 15px;
}

.vehicle-options{
    font-weight: 800;
}

.link-button{
    min-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.main-details {
    margin-bottom: 20px;
    width: 100%;
    background-color: var(--maindiv-color);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#add-button{
    height: 36px;
}

.main-details:hover{
    background-color: var(--subdiv-color);
}

.sub-details {
    background-color: var(--subdiv-color);
    border-radius: 15px;
}

summary {
    width: 50%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    

}


@media(max-width:600px){
    summary{
        width: 100%;
    }

    #add-button{
        font-size: 0.7rem;
        font-weight: 600;
    }

    .more-data-div{
        justify-content: center;
    }
}