:root {
    --background-color: rgb(95, 29, 95);
    --maindiv-color: rgb(139, 68, 139);
    --subdiv-color: rgb(150, 75, 150);
    --button-color: rgb(43, 129, 160);
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--background-color);
}

.body-div {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background-color);
    color: white;
}

.icon {
    font-size: 1.5rem;
}

.content-container {
    position: fixed;
    top: 100px;
    height: 700px;
    width: 80%;
}

#home-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    position: fixed;
    top: 25px;
}



.main-div {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 15px;
    padding: 3%;
    background-color: var(--maindiv-color);
}


.main-div button {
    width: 70%;
    padding: 3% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.main-div h1 {
    text-align: center;
    margin-bottom: 25px;
}

.body-sub-div {
    background-color: var(--background-color);
    /*for vehicle list background*/
}

button,
.button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: var(--button-color);
    transition: all ease-in-out 200ms;

}

.button:hover {
    background-color: white;
    color: var(--button-color);
    transition: all ease-in-out 200ms;

}


input,
select {
    border-radius: 15px;
    border: none;
    padding: 5px 20px;
    height: 30px;
    max-width: 100%;
    margin-bottom: 25px;

}

input:focus {
    border: none;
}

input::placeholder {
    font-size: 1.05rem;
}

select {
    height: 40px;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 100%;
}

.link {
    background-color: var(--button-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    border-radius: 15px;
}

.link:hover {
    color: var(--button-color);
    background-color: white;
    transition: all ease-in-out 200ms;
}

dialog {
    border: none;
    border-radius: 15px;
    background-color: var(--subdiv-color);
    color: white;
    padding: 10px;
    width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog-div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

.dialog-div h3 {
    padding-bottom: 20px;

}



.dialog-button-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

details>summary::-webkit-details-marker {
    display: none;
}

/* Firefox */
details>summary {
    list-style: none;
}

/*=====RESPONSIVE=====*/

@media(max-width: 600px) {
    html {
        font-size: 1.2rem;
    }

    h1{
        margin-bottom: 25px;
    }

    .main-div {
        width: 80%;
    }

    .main-div input {
        max-width: 90%;
    }

    #regist-heading {
        font-size: 2.5rem;
    }

    dialog {
        width: 90%;
    }

    .dialog-div h3 {
        text-align: center;
    }

    .dialog-button-div {
        justify-content: center;
        flex-direction: column;
    }

    .dialog-button-div button {
        width: 70%;
        margin: 0 auto;
    }
}